main
{
    text-align: center;
}
body
{
	background-color: #694A38;
    color: #F4AC45 ;
    font-family:'Times New Roman', Times, serif;
    margin-left: 100px;
    margin-right: 100px;
}

header, footer, h2, h3, figure
{
  text-align: center;
}

h2
{
    font-size: 130%;
}

a, a:visited, a:hover, a:active
{
    color:ivory;
    text-align: center;
    text-decoration: none;
}

a:hover
{
    text-decoration: overline underline;
}

nav
{
	text-align: center;
}

.navigation
{
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

.convPrButton, .pcFacts, .buyItem, .memberShip, .achi
{
    background-color: #45a049;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.valid a:hover {
    text-decoration: none;
}