body
{
	background-color: #694A38;
    color: #F4AC45 ;
    font-family:'Times New Roman', Times, serif;
    margin-left: 100px;
    margin-right: 100px;
}

header, footer, h2, h3, figure
{
  text-align: center;
}

a, a:visited, a:hover, a:active
{
    color:ivory;
    text-align: center;
    text-decoration: none;
}

a:hover
{
    text-decoration: overline underline;
}

div.tabularlistDIV
{
    text-align: center
}

ul.tabularList
{ 
    display: inline-block;
    text-align: left;
    text-justify: auto;
}

figure
{
	text-align: center;
}

figcaption
{
	font-style: italic;
}

#table1
{
    margin-left: auto;
    margin-right: auto;
    height: 20%;
    width: 55%;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    color: #F4AC45 ;
}

#table2
{
    margin-left: auto;
    margin-right: auto;
    height: 20%;
    width: 50%;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    color: #F4AC45 ;
}

table, th, td
{
    border: 2px solid black;
    color: #F4AC45 ;
    width: 190px;
}

table
{
    table-layout: fixed;
    border-collapse: collapse;
    color: #F4AC45 ;
    width: 40%;
}

td
{
    border: 2px solid #000;
    width: 150px;
    color: black;
}

tr
{
    background-color: green;
    color: white;
    width: 100px;
}

th
{
    background-color: rgb(3, 68, 12);
    color: white;
    font-weight: bold;
}

table tr:nth-child(even)
{
    background-color: rgb(218, 245, 202);
    color: #fff; 
}

table tr:nth-child(odd)
{
    background-color: rgb(77, 177, 31);
    color: #fff; 
}

nav
{
	text-align: center;
}

.navigation
{
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

.valid a:hover {
    text-decoration: none;
}